*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    padding: 16px 120px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #000000;
}
nav .menu a:hover{
    color: #ffffff;
    background-color: #469165;
    padding: 5px 10px;
    border-radius: 5px;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 45px;
}
.btn{
    background-color: #30B868;
    border: 0;
    padding: 18px 25px;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    color: #e9dd9b;
    background-color: #095729;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    /* height: 800px; */
    }
    .banner-container{
        margin: 0 auto;
        width: 85%;
        max-width: 1360px;
        text-align: center;
        padding-top: 160px;
        padding-bottom: 180px;
    }
    .btn2{
        border: 0;
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        font-size: 16px;
        color: #30B868;
        cursor: pointer;
    }
    .banner-container h1{
        font-size: 72px;
        color: white;
        margin-top: 24px;
    }
      .banner-container h1 span{
        font-size: 72px;
        color: rgb(25, 231, 146);
    }
      .banner-container p{
        font-size: 18px;
        color: white;
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .btn-gap{
        gap: 60px;
    }
    .btn-3{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgb(255, 252, 252);
        padding: 18px 25px;
        font-weight: bolder;
        color: aliceblue;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
    }
    .note{
        background-color: #FBFBFB;        
    }
    #note-section{
        width: 85%;
        max-width: 1360px;
        margin: 0% auto;
        text-align: center;
        padding-top: 70px;

    }
    #note-section h2{
         font-size: 48px;
         color: #001931;
         margin-bottom: 16px;
    }
    #note-section p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #627382;
    }
    .note-cards{
        display: flex;
        margin-top: 45px;
        gap: 20px;
    }
    .card-info{
        /* text-align: center;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        box-shadow: 20px 20px 5px 5px rgba(128, 128, 128, 0.158); */
        background: #fff;
        color: #0b0b0b;
        padding: 40px 25px;
        border-radius: 16px;
        box-shadow: 0 0 0 1px #e5e7eb;
  
    }
    .note-cards .icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #F6373D;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto ;
    }
    .note-cards h3{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 20px;
    }
.note-cards h3{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    #brain{
        margin-top: 120px;
    }
    .brain-container{
        width: 85%;
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        gap: 60px;
    }
    .brain-text{
        margin: auto 0;
    }
    #brain h6{
        font-size: 16px;
        line-height: 20px;
        color: #469165;
    }
    #brain h2{
        font-size: 48px;
        font-weight: 700;
        color: #001931;
        margin-top: 26px;
    }
    #brain p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #627382;
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .brain-list li{
        list-style: none;
        align-items: center;
        display: flex;
        gap: 10px;
        margin-bottom: 26px;
    }
    #ready{
        margin-top: 120px;
    }
    .ready-container{
        width: 85%;
        max-width: 1360px;
        background-color: #FBFBFB;
        margin: 0 auto;
        text-align: center;
        padding: 80px 40px;
    }
    .ready-container h2{
        font-size: 40px;
        font-weight: 700;
        color: #001931;
        
    }
    .ready-container p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #627382;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    footer{
        background-color: #001931;
        padding-top: 120px;
        padding-bottom: 60px;
    }
    #footer{
        width: 85%;
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    #footer h6{
        color: white;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
    }
    #footer i{
        color: white;
        margin-bottom: 60px;
    }
    .copiright-hr{
        width: 85%;
        max-width: 1360px;
        margin: 0 auto;
        text-align: center;
    }
    .copiright-hr hr{
        margin-bottom: 30px;
    }
    .copiright{
        color: white;
        
    }